* {
    margin: 0;
    box-sizing: border-box;
}
:root{
    --textColor:white;
    --bgColor:black;
    --bgLightColor:gainsboro;
    --error:red;
    --success:green;
    --invertStrength:100%;
    --metaBgColor:burlywood;
}
body {
    font-family: 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--bgColor);
    color: var(--textColor);
}
.icons,
.large-icons{
    display: block;
    filter: invert(var(--invertStrength));
    cursor: pointer;
}
.icons{
    height: 20px;
    width: 20px;
}
.large-icons{
    width: 50px;
    height: 50px;
}
.large-icons-no-filter{
    filter: invert(0);
}